html, body {
    font-size: 10px;
}
.current-weather__container {
    display: flex;
    flex-direction: column;
}
.current-weather__element{
    display: flex;
    flex: 1 1 auto;

    &__icon {
        height: 1rem;
        padding: rem(.3);
    }
    
    &__value {
        padding: rem(.3);
    }
    &__label{
        text-decoration: underline;
        padding: rem(.3);
    }
}

